@import "tailwindcss";
@import "./theme.css";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;

    --card: #ffffff;
    --card-foreground: #09090b;

    --popover: #ffffff;
    --popover-foreground: #09090b;

    --primary: #18181b;
    --primary-foreground: #fafafa;

    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --accent: #f4f4f5;
    --accent-foreground: #18181b;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #18181b;

    --radius: 0.5rem;

    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  :root[class~="dark"] {
    --background: #09090b;
    --foreground: #fafafa;

    --card: #09090b;
    --card-foreground: #fafafa;

    --popover: #09090b;
    --popover-foreground: #fafafa;

    --primary: #fafafa;
    --primary-foreground: #18181b;

    --secondary: #27272a;
    --secondary-foreground: #fafafa;

    --muted: #27272a;
    --muted-foreground: #a1a1aa;

    --accent: #27272a;
    --accent-foreground: #fafafa;

    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;

    --border: #27272a;
    --input: #27272a;
    --ring: #d4d4d8;

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

/* Base styles required */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
