@use "./grid";
@use "./responsive";
@use "./utilities";
@use "./elements/base";

* {
  --font-size-sm: 0.875rem;
  --spacing-md: 1rem;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-on-background);
  line-height: 1.6;
}
