.solias-btn {
  display: block;
  font-size: var(--font-size-sm);
  padding: 0.5rem;
  border-width: 0.0625rem;
  border-style: solid;
  outline: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  &--primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-color: var(--color-primary);
    &:hover {
      background-color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
    }
  }
  &--secondary {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    border-color: var(--color-secondary);
    &:hover {
      background-color: var(--color-secondary-hover);
      border-color: var(--color-secondary-hover);
    }
  }
  &--tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-on-tertiary);
    border-color: var(--color-tertiary);
    &:hover {
      background-color: var(--color-tertiary-hover);
      border-color: var(--color-tertiary-hover);
    }
  }
  &--error {
    background-color: var(--color-error);
    color: var(--color-on-error);
    border-color: var(--color-error);
    &:hover {
      background-color: var(--color-error-hover);
      border-color: var(--color-error-hover);
    }
  }
}
