input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="color"],
input[type="search"],
input[type="url"] {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 outline-none;
  &:disabled {
    @apply bg-gray-100 dark:bg-gray-600 cursor-not-allowed dark:text-gray-400;
  }
}

select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 outline-none;
  &:disabled {
    @apply cursor-not-allowed;
  }
}

textarea {
  @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 outline-none;
  &:disabled {
    @apply cursor-not-allowed;
  }
}

input[type="checkbox"] {
  & {
    accent-color: var(--color-primary-500);
  }
  @apply w-6 h-6 text-primary-600 bg-gray-100 border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 outline-none;
  &:disabled {
    @apply cursor-not-allowed;
  }
}

input[type="radio"] {
  & {
    accent-color: var(--color-primary-500);
  }
  @apply w-6 h-6 text-primary-600 bg-gray-100 border-gray-300 dark:bg-gray-700 dark:border-gray-600;
  &:disabled {
    @apply cursor-not-allowed;
  }
}

input[type="file"] {
  @apply block w-full text-base text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 w-10 h-10;
  &::file-selector-button {
    background-color: var(--color-gray-200);
    height: 2.5rem;
    padding-inline: 1rem;
    cursor: pointer;
    margin-right: 1rem;
  }
  &:where(.dark, .dark *) {
    &::file-selector-button {
      color: var(--color-gray-200);
      background-color: var(--color-gray-500);
    }
  }
  &:disabled {
    @apply cursor-not-allowed;
    &::file-selector-button {
      @apply cursor-not-allowed;
    }
  }
}

input[type="range"] {
  appearance: none;
  @apply w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700;
  &::-webkit-slider-thumb, &::-moz-range-thumb {
    -webkit-appearance: none;
    @apply bg-primary-500 rounded-full w-4 h-4 cursor-pointer;
  }
  &::-webkit-slider-runnable-track, &::-moz-range-track {
    @apply w-full h-1 bg-primary-200 rounded-lg cursor-pointer dark:bg-primary-700;
  }
}

label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

fieldset {
  @apply border border-gray-300 dark:border-gray-600 rounded-lg px-8 py-4;
}

legend {
  @apply px-2 text-base font-bold;
}